.filter-controls {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.search-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 120rem;
  max-width: 100%;
  box-sizing: border-box;
}